// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #2e7d32
$secondary = #4caf50
$accent    = #9C27B0

$positive  = #0d47a1
$negative  = #C10015
$info      = #c8e6c9
$warning   = #f9c100

@import '~quasar-variables-styl'
